@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


nav li{
    display: inline;
    margin: 30px;
    
}
a {
   color: black;
   text-decoration: black;
  }
  
img {
    opacity: 70%;
    max-height: 150px;
    max-width: 200px;
    width: 160px;
    height: 100px; 
}
body {
    background-color: rgb(224, 187, 184);
    font-family: 'Quicksand', sans-serif;
  }
  
  header, footer {
    background-color: rgb(168, 129, 126);;
    border-top: solid; color:rgb(15, 27, 15);
    border-bottom: solid; color:rgb(19, 37, 19);
    text-align: center;
  }
  
  header {
    text-align: center;
    color: black; 
  }
  
  table {
    border: solid rgb(0, 0, 0);
    border-collapse: collapse;
  }
  
  tr:nth-child(even) {
      background-color: #f2f2f2;
  }
  
  th, td {
    border: solid rgb(0, 0, 0);
    padding: 5px;
  }
 

  
  